In [6]:
#1 Прочитайте csv файл (метод read_csv) 
# СОСНЮК КАТЕРИНА ФІТ 4-6 ВАРІАНТ 22
import pandas as pd
data = pd.read_csv("C:\data.csv")
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [11]:
#2 Виведіть перші 10 рядків (метод head) 
data.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [8]:
#3 Виведіть розміри датасету (метод shape) 
data.shape

(550, 7)

In [12]:
#Питання: Про скільки книг зберігає дані датасет? 
#Відповідь: 550

In [14]:
#4 Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення. 
data.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
data

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [16]:
#5 Вивести кількість пропусків у кожному стовпчику. 
#ПРОПУСКІВ НЕМА
missing_values = data.isna().sum()
missing_values

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [17]:
#6 За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre 
data["genre"].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [19]:
#7 Визначте максимальну, мінімальну, медіанну ціну за допомогою методів
max_price = data['price'].max()
min_price = data['price'].min()
average_price = data['price'].mean()
median_price = data['price'].median()
print("Максимальна ціна", max_price)
print("Мінімальна ціна", min_price)
print("Середня ціна", average_price)
print("Медіанна ціна", median_price)

Максимальна ціна 105
Мінімальна ціна 0
Середня ціна 13.1
Медіанна ціна 11.0

In [20]:
#Питання: Максимальна ціна? 
#Відповідь: 105
#Питання: Мінімальна ціна? 
#Відповідь: 0
#Питання: Середня ціна? 
#Відповідь: 13.1
#Питання: Медіанна ціна? 
#Відповідь: 11.0

In [29]:
#8 Виконайте наступні завдання з пошуку і сортування даних 
#Питання: Який рейтинг у датасеті найвищий? 
#Відповідь: 4.9
max_rating = data['user_rating'].max()
max_rating

4.9

In [30]:
#Питання: Скільки книг мають такий рейтинг?
#Відповідь: 52
count = (data['user_rating'] == max_rating).sum()
count

52

In [31]:
#Питання: Яка книга має найбільше відгуків? 
#Відповідь: Where the Crawdads Sing
highest_reviews = data['reviews'].idxmax()
highest_reviews_book = data.loc[highest_reviews, 'name']
highest_reviews_book

'Where the Crawdads Sing'

In [36]:
#Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ? 
#Відповідь: Publication Manual of the American Psychological Association, 6th Edition
books_2010 = data[data['year'] == 2010]
book_with_highest_price = books_2010.loc[books_2010['price'].idxmax()]
book_with_highest_price.loc['name']

'Publication Manual of the American Psychological Association, 6th Edition'

In [38]:
#Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році  
#Відповідь: 21
books_2012_with_genre = data[(data['year'] == 2012) & (data['genre'] == 'Fiction')]
count_of_nf_books = len(books_2012_with_genre)
count_of_nf_books

21

In [40]:
#Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)? 
#Відповідь: 1
target_years = [2010, 2011]
filtered_books = data[(data['user_rating'] == 4.9) & (data['year'].isin(target_years))]
count_of_books = len(filtered_books)
count_of_books

1

In [43]:
#9 Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, 
#для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці. 
genres = ["Fiction", "Non Fiction"]
filtered = data[data['genre'].isin(genres)]
result = filtered.groupby('genre')['price'].agg([min, max])
result = result.rename(columns={'min': 'Minimum Price', 'max': 'Maximum Price'})
result

             Minimum Price  Maximum Price
genre
Fiction                  0             82
Non Fiction              0            105

In [ ]:
#Висновок: ще один датасет було досліджено за допомогою знайомих функцій з модулів pandas, numpy, mathplotlib.pyplot, зкріплено навички користування ними